{% extends 'base2.html' %} {% load static %} {% block content %}
<h1>Author list page</h1>
<form action="">
  <input type="search" placeholder="search" aria-label="search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% for Author in object_list %}
<ul>
  <li>
    <a href="{% url 'authordetail' Author.pk %}"> name </a> : {{Author.name}}
  </li>

  <li>
    book : {% for auth in Author.book.all %}<br />
    {{auth}} {% endfor %}
  </li>

  <button type="button" class="btn btn-info">
    <a href="{% url 'authorupdate' Author.pk %}">Update</a>
  </button>
  <button type="button" class="btn btn-danger">
    <a href="{% url 'authordelete' Author.pk %}">Delete</a>
  </button>
</ul>
{% endfor %} {% endblock content %}
