{% extends 'base1.html' %}
{% load static %}

{% block content %}


<center>
  <h3 class="text-white my-5">Home Page</h3>
  <div class="jumbotron jumbotron-fluid jumbo-color">
    <div class="container">
      <h1 class="display-4 font-weight-bold">This is Library System</h1>
      <p class="lead">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum sint
        exercitationem excepturi voluptatem quo, non inventore, natus
        necessitatibus, saepe quidem illum quae nemo aperiam. Quis at quod
        similique ipsum enim.
      </p><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, libero rerum sint harum fugiat unde aspernatur amet quae. Nulla repellendus dolores debitis reprehenderit nemo suscipit beatae eaque illum aperiam vitae.</p><br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo explicabo minima esse sunt, temporibus iusto sapiente, commodi vero placeat ducimus eum voluptates enim consequatur molestias? Minima aut porro, accusantium commodi quod similique doloremque inventore maiores eveniet dolorem, quidem perferendis magnam.
      </p><br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus alias modi reprehenderit error molestiae quod, doloremque soluta, fugiat autem numquam iusto eius consequuntur esse! Provident eaque est, assumenda sapiente minima esse maiores vitae obcaecati in quo fugit cum ut deleniti aliquam accusamus, mollitia atque. Fugit, quia magnam. Omnis, accusamus at?
      </p><br>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, facilis. Quia fuga saepe iusto. Exercitationem tenetur eos omnis aut fugiat qui distinctio laudantium suscipit, earum iste. Est possimus repellendus consequuntur, soluta, expedita dicta impedit saepe reprehenderit provident ipsum, dolorem exercitationem suscipit magni aperiam nobis ex tempora! Maiores veritatis delectus unde distinctio. Nisi fugit neque cumque aliquam ullam atque repellat. Tempore, sint. Maxime, velit! Non cupiditate quas obcaecati, voluptatem dolorum praesentium totam veniam in tenetur doloribus, magnam at expedita accusantium voluptatum commodi facere ipsam tempore sed assumenda. Corrupti voluptatum ipsam praesentium, quod sapiente tempore suscipit doloribus delectus, quibusdam animi laboriosam quisquam!
      </p><br>
    </div>
    
  </div>
</center>

{% endblock content %}

