<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboard1' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'addcategory' %}">Category</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'addbook' %}">Book</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'addauthor' %}">Author</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>